[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
streamlit-authenticator = "*"
pandas = "*"
openpyxl = "*"
seaborn = "*"
matplotlib = "*"
streamlit-option-menu = "*"
streamlit-shadcn-ui = "*"

[dev-packages]
types-seaborn = "*"

[requires]
python_version = "3.13"
